@page "/"


<div class="container">
    <div class="row">
        <div class="col-md-10 py-4 vh-100">
            <h1>Velkommen til MM Food!</h1>
            <p>
                Alle må spise omtrent hver dag, noen ganger oftere enn det.
                Men hva kan man egentlig få til hjemme når alle restauranter er stengt, og man er lei av Bislett Kebab?
                Klikk på Oppskrifter og se hva som finnes der til inspirasjon!
            </p>
        </div>
    </div>
</div>