@inherits LayoutComponentBase

<div class="page text-monospace">
    <div class="main">
        <div class="top-row px-4">
            <NavMenu />
        </div>

        <div class="content">
            @Body
        </div>
        <div class="bottom-row px-4 py-3 mt-5 mx-auto">
            © 2021
        </div>
    </div>
</div>
