<div>
    <ul class="nav flex-row">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Hjem
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="oppskrifter">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Oppskrifter
            </NavLink>
        </li>
    </ul>
</div>
